---
import "../styles/global.css";
---

<div>
  <nav>
    <ul
      class="hidden flex-col absolute justify-start items-center bg-page-bg gap-5 text-xl h-full w-full md:flex md:static md:flex-row md:mb-3 md:h-8 md:w-full md:gap-1 md:justify-around md:text-[14px] md:items-center md:mt-2 lg:text-lg"
      id="menu"
    >
      <li class="no-underline hover:underline text-text-primary h-[30px]">
        <a href="/">Home</a>
      </li>
      <li class="no-underline hover:underline text-text-primary h-[30px]">
        <a href="/about/">About</a>
      </li>
      <li class="no-underline hover:underline text-text-primary h-[30px]">
        <a href="/portfolio/">Portfolio</a>
      </li>
    </ul>
  </nav>
</div>
