Начальный список требований:

- Ознакомительная страница сайта (Лендинг)
	- Разделить на блоки:
		- Небольшое описание проекта
		- Кнопка "Попробовать демо/Узнать больше"
		- Преимущества
		- Участники команды
		- FAQ
		- Форма для связи
		- Контактная информация

- Главная страница
	- Видеозаставка
	- Краткая информация
	- Кнопка "Играть"

- Форма регистрации и авторизации
	- Вход в систему через ввод логина и пароля
	- Вход через аккаунты Google/GitHub и т.д.
	- Восстановления пароля через подтверждение по почте

- Личный кабинет пользователя
	- Профиль игрока (био)
	- Статистика прохождения квестов/заданий
	- История активности
	- Список достижений/наград
	- Отображение количества коинов, опыта и уровня

- Демо-режим игры (Unity WebGL)
	- Встроенный движок на веб-страницу
	- Практические задания --- квесты и симуляции

- Поддержка для пользователя
	- Чаты с историческими персонажами (ИИ-агенты)
	- Теория по профильным предметам (с элементами геймификации)